body {
  background: color #f8f9fa;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  color: gray;
}

.instructions {
  align-items: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  line-height: 50px;
  color: #272044;
  border-radius: 50px;
}
.container {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: aliceblue;
}
.submit-button {
  margin-left: 10px;
  padding: 14px 24px;
  font-family: "Times New Roman", Times, serif;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
.poem {
  font-size: 20px;
  text-align: left;
  background-color: #ffff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px rgba(39, 33, 66, 0.03);
}
a {
  text-decoration: none;
  color: #885df1;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  font-size: 16px;
}
